# --- СИСТЕМНЫЕ ФАЙЛЫ ---
.DS_Store
Thumbs.db

# --- JAVA & INTELLIJ IDEA ---
.idea/
*.iml
*.iws
out/
build/
.gradle/

# --- СЕКРЕТЫ (НИКОГДА НЕ КОММИТЬ!) ---
.env

# --- ЛОКАЛЬНОЕ ХРАНИЛИЩЕ БОТА ---
# Мы не хотим отправлять файлы пользователей на GitHub
test_storage/
test_storage_*/